results/**/*.pkl
results/**/*.pt
!results/KTH64/kth64_fpgs1c_deeper_10_0_30/**.pkl
!results/KTH64/kth64_fpgs3c_02_deeper_10_0_30/**.pkl
!results/KTH64/kth64_fpgs3c_deeper_10_0_30/**.pkl

wandb/
datasets/BAIR_h5/
datasets/Cityscapes64_h5/
datasets/Cityscapes128_h5/
datasets/DAVIS/
datasets/DAVIS_h5
datasets/DAVIS64_h5/
datasets/KTH64_h5/
models/weights/v0.1/alex.pth
__pycache__/
*.py[cod]
*$py.class
datasets/UCF101_h5/shard_0001.hdf5
